h1 {
	border: 2px #eee solid;
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
}

body {
	background-color: black;
}

article {
	display: flex;
	justify-content: center;
}

p {
	color: white;
}

form {
	color: white;
}
